strands-agents>=1.25.0
strands-agents-tools
strands-agents-builder
bedrock-agentcore
boto3
requests
mcp
websockets>=14.0
aws_sdk_bedrock_runtime>=0.3.0
aws-opentelemetry-distro>=0.10.0
opentelemetry-exporter-otlp-proto-http
browser-use>=0.1.40
playwright>=1.50
